
.room {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: .6rem .6rem;
    margin: .2rem;
    cursor: pointer;
    border-radius: .2rem;
    background-color: inherit;
    transition: background-color 400ms ease;
}

.room:hover {
    background-color: #f4f4f4;
}

.room.selected {
    background-color: #f9f9f9;
}
