:root {
    font-size: 18px;
    font-family: 'Work Sans', sans-serif;
    box-sizing: border-box;
    --chatio-yellow-color: #ffe548;
}

html, body {
    padding: 0;
    margin: 0;
}

* {
    box-sizing: inherit;
}
